<nav class="bg-transparent dark:bg-transparent fixed w-full z-20 top-0 start-0 ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://www.nen.nl/media/catalog/product/s/m/smarttrackers_-_logo_horizontal_-_one_line_-_by_visma-h-256.png?width=470&height=470&quality=80&fit=bounds&format=jpeg" class="w-4" width="200" alt="SmartTrackers Logo" />
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <% if current_user %>
        <%= button_to "Logout", destroy_user_session_path,  data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn-primary"   %>
      <% end %>
    </div>
  </div>
</nav>
