<div class="max-w-sm p-6 pb-12 mx-auto bg-white text-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="max-w-sm mx-auto mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "form-input" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-input" %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "btn-primary mt-6" %>
    </div>
  <% end %>
</div>
