<div class="w-full max-w-xs mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'bg-white shadow-sm rounded-lg px-8 pt-6 pb-8 mb-4' }) do |f| %>
    <h4 class="font-bold text-2xl mb-4">Sign In</h4>
    <div class="mb-4">
      <%= f.email_field :email, class: "shadow appearance-none bordee rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Email" %>
    </div>
    <div class="mb-6">
      <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Password" %>
    </div>
    <div class="flex items-center justify-between">
      <%= f.submit "Sign In", class: "btn-primary" %>
    </div>
  <% end %>
</div>
